{% extends "base.html" %}

{% from "_macros.html" import render_field %}

{% block titulo %}Novo Funcionário{% endblock %}

{% block body %}
<form method="POST" action="" id="FormFuncionario" class="c-stepper l-container l-form-layout">
    {{ form_funcionario.csrf_token }}
    <div class="l-form-layout__header">
        <div class="u-column u-column__center">
            <div class="c-stepper__counter c-stepper__counter--active">
                <i class="bi bi-plus-circle c-icon--lg"></i>
            </div>
            <span class="u-subsection">Novo Funcionário</span>
        </div>
    </div>

    <div class="l-form-layout__content">
        <div class="l-grid--2-cols">

            <div class="l-grid-12">
                    {{ render_field(form_funcionario.nome, placeholder='João da Silva', wrapper_class="c-form-field--span-12") }}

                    {{ render_field(form_funcionario.cpf, class_="mask-cpf validate-cpf", placeholder='000.000.000-00', wrapper_class="c-form-field--span-4") }}
                    {{ render_field(form_funcionario.rg, placeholder='00.000.000-00', wrapper_class="c-form-field--span-4") }}
                    {{ render_field(form_funcionario.data_nascimento, wrapper_class="c-form-field--span-4") }}

                    {{ render_field(form_funcionario.email, placeholder='email@sistema.com', wrapper_class="c-form-field--span-4") }}
                    {{ render_field(form_funcionario.contratacao, placeholder='CLT, Contrato', wrapper_class="c-form-field--span-4") }}
                    {{ render_field(form_funcionario.cargo, placeholder='Administrativo, Administrador, Social', wrapper_class="c-form-field--span-4") }}
            </div>

            <div class="l-grid-12">
                    {{ render_field(form_funcionario.senha, placeholder='******', wrapper_class="c-form-field--span-6") }}
                    {{ render_field(form_funcionario.confirmacao_senha, placeholder='******', wrapper_class="c-form-field--span-6") }}

                    {{ render_field(form_funcionario.cep, placeholder='00000-000', wrapper_class="c-form-field--span-4" ) }}
                    {{ render_field(form_funcionario.cidade, wrapper_class="c-form-field--span-4") }}
                    {{ render_field(form_funcionario.estado, wrapper_class="c-form-field--span-4") }}

                    {{ render_field(form_funcionario.bairro, wrapper_class="c-form-field--span-4") }}
                    {{ render_field(form_funcionario.rua, wrapper_class="c-form-field--span-4") }}
                    {{ render_field(form_funcionario.num, wrapper_class="c-form-field--span-4") }}
            </div>
        </div>
    </div>

    <div class="l-form-layout__footer">
        {{ form_funcionario.botao_confirmacao(class_="c-btn c-btn--primary") }}
    </div>
</form>
{% endblock %}