:root {
        --c-action:   #C92A2A;
        --c-action-hover: #A61E1E;
        --c-highlight: #F59F00;
        --c-highlight-hover: #ffdb98;
        --c-slate:    #212529;
        --c-slate-hover: #30313a;
        --c-bg:       #F1F3F5;
        --c-surface:  #FFFFFF;
        --c-border:   #DEE2E6;
        --radius-md: 6px;
        --radius-lg: 8px;
        --shadow-subtle: 0 1px 3px rgba(0,0,0,0.05);
        --header-logo-height: 40px;
        --header-logo-gap: 1rem;
}
