:root {
        --c-action: #A61E1E;
        --c-action-hover: #d82f2f;
        --c-highlight: #F59F00;
        --c-highlight-hover: #ffdb98;
        --c-slate:    #212529;
        --c-slate-hover: #30313a;
        --c-bg:       #F1F3F5;
        --c-surface:  #FFFFFF;
        --c-border:   #DEE2E6;
        --radius-sm: 4px;
        --radius-md: 6px;
        --radius-lg: 8px;
        --shadow-subtle: 0 1px 3px rgba(0,0,0,0.05);
}
