
.spacer-md {
    height: 2rem;
}

.side-image {
    display: none;
}

.login-logo {
    max-width: 4.5rem;
    height: auto;
    margin-bottom: 1.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

