<nav class="sidebar-wrapper">
    <div class="sidebar-brand">
        <a href="{{ url_for('main.inicio') }}" class="sidebar-logo-link">
            <img src="{{ url_for('static', filename='images/logo.png') }}"
                 alt="Logo Associação Restauração"
                 class="sidebar-logo-img">
        </a>
            <span class="sidebar-text">Associação Restauração</span>
    </div>

    <div class="sidebar-tabs-container">
        <a href="{{ url_for('social.prontuario') }}" class="tab-item">Nova Admissão</a>
        <a href="{{ url_for('social.dados') }}" class="tab-item">Lista de Internos</a>
        <a href="{{ url_for('social.agenda') }}" class="tab-item">Agenda</a>
        {% if current_user.cargo_obj.nome in ['Admin'] %}
            <a href="{{ url_for('admin.novo_funcionario') }}" class="tab-item">Cadastrar Funcionário</a>
        {% endif %}
    </div>

</nav>