<nav class="c-sidebar">
    <div class="c-sidebar__nav">
        <a href="{{ url_for('main.inicio') }}" class="c-sidebar__logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}"
                 alt="Logo Associação Restauração"
                 class="c-sidebar__image">
        </a>
            <span class="c-sidebar__brand-text">Associação Restauração</span>
    </div>

    <div class="c-sidebar__nav">
        <a href="{{ url_for('social.prontuario') }}" class="c-sidebar__item">Nova Admissão</a>
        <a href="{{ url_for('social.dados') }}" class="c-sidebar__item">Lista de Internos</a>
        <a href="{{ url_for('social.agenda') }}" class="c-sidebar__item">Agenda</a>
        {% if current_user.is_authenticated and current_user.cargo_obj.nome in ['Admin'] %}
            <a href="{{ url_for('admin.novo_funcionario') }}" class="c-sidebar__item">Cadastrar Funcionário</a>
        {% endif %}
    </div>

</nav>