{% extends "base.html" %} {% from "_macros.html" import render_field %}

{% block titulo %}Internação{% endblock %}

{% block body %}
    <form method="POST" action="" id="prontuarioForm" class="l-container l-form-layout">
        {{ form.csrf_token }}

        <div class="l-form-grid__content">
        {{ render_field(form.nome, wrapper_class="c-form-field--span-12", placeholder="Ex: João da Silva", data_bind="nome") }}
        {{ render_field(form.data_nascimento, class_="mask-date", wrapper_class="c-form-field--span-6", data_bind="data_nascimento") }}
        {{ render_field(form.data_internacao, class_="mask-date", wrapper_class="c-form-field--span-6", data_bind="data_internacao") }}
        </div>
    </form>
{% endblock %}